# don't include the unzipped data because it's ~5 GB. if you clone this
#  repo it's your responsiblity to have these files some other way.

initialTests/
randomTests/

## this is the product of run.sh, so shouldn't be versioned
results.csv

## ignore python compiled files
*.pyc

## this is produced by make_maps.py
images/
